# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/

# ==========================
# ChromaDB
# ==========================
server/chroma_db/

# ==========================
# Uploaded & Processed Files
# ==========================
server/uploads/
server/processed/

# ==========================
# Environment
# ==========================
.env
*.env

# ==========================
# Node
# ==========================
node_modules/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store