# ==========================
# Database
# ==========================
DATABASE_URL=postgresql://username:password@localhost:5432/docmind

# ==========================
# JWT
# ==========================
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# ==========================
# Groq
# ==========================
GROQ_API_KEY=your-groq-api-key

# ==========================
# Chroma
# ==========================
CHROMA_DB_PATH=./chroma_db

# ==========================
# Uploads
# ==========================
UPLOAD_DIR=uploads
PROCESSED_DIR=processed